body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
        background-color: gray;
}
